{% extends 'base.html.twig' %}
{% form_theme formProject 'bootstrap_4_layout.html.twig' %}
{% block body %}
</br>
<div class="jumbotron">
    <h3>Create a project</h3>
    </br>
    <div class="form-group">  
        {{ form_start(formProject) }}
        {{ form_widget(formProject) }}
        {{ form_end(formProject) }}
    </div>
</div>
{% endblock %}