{% extends 'base.html.twig' %}
{% form_theme formFile 'bootstrap_4_layout.html.twig' %}
{% block body %}
    </br>
    <div class="jumbotron">
        <h1>Add source of project:</h1>
        <div class="form-group">
            {{ form_start(formFile) }}
            {{ form_widget(formFile) }}
            {{ form_end(formFile) }}
        </div>
    </div>
{% endblock %}รง